<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title>史矛革的博客</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'https://cdn.staticfile.org/twitter-bootstrap/3.4.1/css/bootstrap.min.css', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'https://cdn.staticfile.org/react/16.4.0/umd/react.development.js', media: 'all' %>
    <%= javascript_include_tag 'https://cdn.staticfile.org/react-dom/16.4.0/umd/react-dom.development.js', media: 'all' %>
    <%= javascript_include_tag 'https://cdn.staticfile.org/babel-standalone/6.26.0/babel.min.js', media: 'all' %>
  </head>

  <body>
    <div class="container">

			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/">史矛革的博客</a>
					</div>

					<div id="navbar" class="collapse navbar-collapse">
            <% if logged_in? %>

            <div class="pull-right" id="logout"><a href="/users/sign_out">登出</a></div>
            <% else %>
            <div class="pull-right" id="logout"><a href="/users/not_authenticated">登录</a></div>
            <% end %>
					</div><!--/.nav-collapse -->
				</div>
    	</nav>

      <%= yield %>
    </div> <!-- /container -->
  </body>
</html>
